body {
    color: white;
    background-color: black;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
        "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
        "Helvetica Neue", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
        monospace;
}

/* define new css */

/* login css */

.card {
    border-color: lightseagreen;
    background: black;
    color: white;
}

.myform {
    padding: 0 25px 0 33px;
}

.form-control {
    /* border: 1px solid yellow; */
    border-radius: 3px;
    background: white;
    margin-bottom: 20px;
    letter-spacing: 1px;
}
.form-control:focus {
    border: 1px solid #57557a;
    border-radius: 3px;
    box-shadow: none;
    background: #212042;
    color: #fff;
    letter-spacing: 1px;
}

.bn {
    text-decoration: underline;
}
.bn:hover {
    cursor: pointer;
}

.btn-primary {
    background: linear-gradient(
        135deg,
        rgb(106, 232, 252) 39%,
        rgb(17, 255, 164) 101%
    );
    border: none;
    border-radius: 50px;
}

.btn-primary:focus {
    box-shadow: none;
    border: none;
}

.Login a {
    color: lightcyan;
}

.errorText {
    color: yellow;
}

@media (max-width: 767px) {
    .bn {
        text-align: center;
        align-items: center;
    }
}

@media (max-width: 425px) {
    .d-flex.d-flex.justify-content-end {
        justify-content: flex-start !important;
    }
}

/* navBar css */

.NavBar {
    border-bottom: 1px solid lightseagreen;
    /* padding: ; */
    margin-left: 0%;
    margin-right: 0%;
}

.NavBar a {
    color: lightseagreen;
    text-decoration: none;
}

.chatApp {
    margin-left: 1vw;
}

.register {
    margin-left: 3vw;
    margin-right: 2vw;
    border-bottom: none;
}
