@import url("./css/navBar.css");
@import url("./css/sideBar.css");
@import url("./css/notification.css");
@import url("./css/friends.css");
@import url("./css/chats.css");

body {
    color: white;
    background-color: black;
    margin: 0;
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
}

@media (max-width: 767px) {
    .bn {
        text-align: center;
        align-items: center;
    }
}

@media (max-width: 425px) {
    .d-flex.d-flex.justify-content-end {
        justify-content: flex-start !important;
    }
}

.chatApp {
    margin-left: 1vw;
}

.register {
    margin-left: 3vw;
    margin-right: 2vw;
    border-bottom: none;
}

input {
    outline: none;
}

.hidden {
    display: none;
}
